.wrapper {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.aboutFilm {
  display: flex;
}

.info {
  padding-left: 20px;
}

.genre {
  margin-right: 5px;
}

.backBtn {
  margin-bottom: 15px;
}
